.payeasyNoFillIconButton,
.payeasyButton,
.payeasyOutlineButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 14px;
  border: none;
}

.payeasyButton {
  background: rgb(var(--primary-rgb));
  color: rgb(var(--on-primary-rgb));
}

.payeasyButton .loader {
  --loader-color: rgb(var(--on-primary-rgb)) !important;
  height: 20px;
  width: 68px;
}

.payeasyOutlineButton {
  background: transparent;
  color: rgb(var(--primary-rgb));
  border: 1px solid rgb(var(--primary-rgb));
}

.payeasyNoFillIconButton {
  background: transparent;
  gap: 8px;
}
