.payeasyNoFillIconButton,
.payeasyButton {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 14px;
  border: none;
}

.payeasyButton {
  background: rgb(var(--primary-rgb));
  color: rgb(var(--on-primary-rgb));
}

.payeasyNoFillIconButton {
  background: transparent;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
