:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --primary-rgb: 239, 103, 42;
  --on-primary-rgb: 255, 255, 255;

  --background-shadow: 4px 4px 50px 1px rgba(var(--foreground-rgb), 0.1);
  --card-shadow: 10px 10px 100px -20px rgba(var(--foreground-rgb), 0.08);

  --radius: 2px;
  --radius2: 6px;

  --input-border: 1px solid #e4d7d5;

  --table-header-rgba: 255, 249, 248, 1;
  --on-table-header-rgb: 0, 0, 0;

  --table-border-bottom-rgba: 251, 238, 234, 1;

  --success-rgb: 4, 212, 0;
  --on-success-rgb: 255, 255, 255;

  --neutral-50-rgb: 127, 117, 114;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
