.main {
  display: flex;
  min-height: 100vh;
}
.main > * {
  flex-grow: 1;
}

.main > *:first-child {
  background-image: url("/landing.png");
  background-position: center;
  background-size: contain;
  max-width: 628px;
}

.leftContent {
  background: rgba(var(--primary-rgb), 0.82);
  color: rgb(var(--on-primary-rgb));
  min-height: 100%;
  padding-top: 38px;
  padding-bottom: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.leftContent > div {
  max-width: 427px;
  display: grid;
  gap: 149px;
}

.textContent {
  display: grid;
  gap: 24px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
}

.body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.main > *:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 469px;
  height: 100%;
  max-height: 393px;
  background: rgb(var(--background-rgb));
  box-shadow: var(--background-shadow);
  border-radius: var(--radius);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
  justify-content: center;
  padding: 0 42px;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payeasyInput {
  display: grid;
  gap: 12px;
}

.payeasyInput input {
  border-radius: 2px;
  padding: 14px 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  border: var(--input-border);
  outline: none;
  display: block;
}

.payeasyButton {
  background: rgb(var(--primary-rgb));
  color: rgb(var(--on-primary-rgb));
  display: inline-block;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 14px;
  border: none;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main > *:first-child {
    display: none;
  }

  .main > *:last-child {
    flex-grow: 1;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main > *:first-child {
    display: none;
  }

  .form {
    padding: 0 1.5rem;
  }
}
