.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1319px;
  margin: 0 auto;
}

.logoutButton {
  color: rgb(var(--primary-rgb));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.875rem;
}

.mobileView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

.mobileView .barcode {
  max-height: 300px;
}

.searchInputContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 24px !important;
  line-height: 0 !important;
  max-height: 53.33px;
  max-width: 116px;
  transition: all 0.2s ease-in-out;
}

.tableContainer {
  width: 100%;
  max-height: max(calc(100vh - 525px), 200px);
  overflow-y: scroll;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer th {
  background: rgba(var(--table-header-rgba));
  color: rgb(var(--on-table-header-rgb));
  text-align: left;
}

.tableContainer th:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}
.tableContainer th:last-child {
  border-radius: 0 var(--radius) var(--radius);
}

.tableContainer thead {
  position: sticky;
  top: 0;
}

.tableContainer tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(var(--table-border-bottom-rgba));
}

.tableContainer th,
.tableContainer td {
  padding: 20px;
}

.successOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(var(--background-rgb));
  color: rgb(var(--success-rgb));
  text-align: center;
  gap: 32px;
  display: none;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.successOverlay.mountOverlay {
  display: flex;
}
.successOverlay.showOverlay {
  opacity: 1;
}

.successOverlay p:last-child {
  color: rgb(var(--foreground-rgb));
}

.desktopView {
  display: none;
}

.cards {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  padding: 34px 0 52px 0;
}

.card[data-card-bg1] {
  background: rgba(255, 219, 206, 0.14);
  --border-color: rgb(239, 103, 42);
}

.card[data-card-bg2] {
  background: rgba(255, 239, 156, 0.05);
  --border-color: rgb(228, 207, 18);
}

.card[data-card-bg3] {
  background: rgb(226, 238, 249, 0.38);
  --border-color: rgb(25, 74, 201);
}

.card[data-card-bg4] {
  background: rgb(var(--background-rgb));
  --border-color: transparent;
}

.card {
  min-width: 288px;
  height: 144px;
  padding: 20px 22px;
  border-radius: var(--radius2);
  border: 1px solid var(--border-color);
  display: inline-block;
  box-shadow: var(--card-shadow);
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.cardContent > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.barcodeCard {
  min-width: 310px;
  padding: 18px 22px;
}

.barcodeCardContent {
  display: flex;
  gap: 2.94rem;
  align-items: center;
  min-width: 266px;
}

.barcodeCardContent > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 142px;
}

.barcodeCardContent > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 108px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar > div {
  width: 374px;
}

.tnxDetails {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tnxDetails p {
  text-align: center;
}

.tnxDetails > div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tnxDetails > div div {
  display: flex;
  justify-content: space-between;
}

.tnxDetails > div div span:first-child {
  color: rgb(var(--neutral-50-rgb));
}

.logoutConfirm {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.logoutConfirm p {
  text-align: center;
}

.logoutConfirm > div {
  display: flex;
  justify-content: center;
  gap: 38px;
}

.confirmButton {
  min-width: 94px;
}

.printView,
.printView img,
.printView div {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.printView {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(254, 114, 53);
  background-image: url("/business_barcode.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.printView div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 3vh;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.printView img {
  width: auto;
  height: 42vh;
  border-radius: 30px;
}

@media (prefers-color-scheme: dark) {
  .barcode {
    filter: invert(1);
  }
}

@media (min-width: 1024px) {
  .mobileView {
    display: none;
  }

  .desktopView {
    display: block;
  }

  .tableContainer {
    max-height: max(calc(100vh - 510px), 200px);
    margin-top: 42px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 0;
  }
}

@media print {
  .desktopView {
    display: none;
  }
  .mobileView {
    display: none;
  }
  .printView {
    display: block;
  }
  .printView,
  .printView img {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
