.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1042px;
  margin: 0 auto;
}

.logoutButton {
  color: rgb(var(--primary-rgb));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.875rem;
}

.mobileView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

.mobileView .barcode {
  max-height: 300px;
}

.searchInputContainer {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 24px !important;
  line-height: 0 !important;
}

.tableContainer {
  width: 100%;
  max-height: max(calc(100vh - 505px), 200px);
  overflow-y: scroll;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer th {
  background: rgb(var(--table-header-rgb));
  color: rgb(var(--on-table-header-rgb));
  text-align: left;
}

.tableContainer th:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}
.tableContainer th:last-child {
  border-radius: 0 var(--radius) var(--radius);
}

.tableContainer thead {
  position: sticky;
  top: 0;
}

.tableContainer tbody tr:not(:last-child) {
  border-bottom: 1px solid rgb(var(--table-border-bottom-rgb));
}

.tableContainer th,
.tableContainer td {
  padding: 20px;
}

.successOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(var(--background-rgb));
  color: rgb(var(--success-rgb));
  text-align: center;
  gap: 32px;
  display: none;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.successOverlay.mountOverlay {
  display: flex;
}
.successOverlay.showOverlay {
  opacity: 1;
}

.successOverlay p:last-child {
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  .barcode {
    filter: invert(1);
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 0;
  }
}
